<h1>Shelter</h1>

<h2>Name</h2>
  <%= @shelter.name %>

<h3>Address</h3>
  <%= @shelter.address %>

<h3>City</h3>
  <%= @shelter.city %>

<h3>State</h3>
  <%= @shelter.state %>

<h3>Zip</h3>
  <%= @shelter.zip %>
