<h1>Shelter's Pets</h1>

<% @pets.each do |pet| %>
    <p><%= image_tag "#{pet.image}"%></p>
    <p><%= pet.name %></p>
    <p><%= pet.age %></p>
    <p><%= pet.sex %></p>
<% end %>

<%= link_to 'Create New Pet', "/shelters/#{@shelter.id}/pets/new" %>
