<h1>Pet</h1>

  <p><%= image_tag "#{@pet.image}" %></p>
  <p><%= @pet.name %></p>
  <p><%= @pet.description %></p>
  <p><%= @pet.age %></p>
  <p><%= @pet.sex %></p>
  <p><%= @pet.adoption_status %></p>
